/*
 * File:   style.css
 * Author: torsten.roemer@luniks.net
 * 
 * I am a real CSS expert.
 *
 * Created on 30.11.2025, 13:35
 */

body {
    font-family: monospace;
    font-size: 12pt;
}

button {
    font-family: monospace;
    font-size: 12pt;
}

td {
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    padding: 3px;
    text-align: right;
    /* actually height */
    min-width: 2em;
    height: 1.2em;
}

td.left {
    text-align: left;
}

#container {
    width: 100%;
}

#main {
    width: 100%;
}

#map {
    float: left;
    margin: 1%;
    width: 48%;
    height: 640px;
}

#data {
    float: left;
    margin: 1%;
    width: 48%;
}

#controls {
    margin-left: 1%;
    margin-top: 3%;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 98%;
}

#info {
    margin-left: 1%;
    margin-top: 3%;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 98%;
}

.desc {
    font-weight: bold;
    color: dodgerblue;
}

@media (max-width: 767px) {
    #map {
        margin: 1%;
        width: 98%;
        height: 320px;
    }

    #data {
        margin: 1%;
        width: 98%;
    }
}
