*.elf
*.hex
*.lst
# *.a
*.d
*.o
*.map
/avrenv-tx/nbproject/private/
/avrenv-rx/nbproject/private/
/avrenv-client/nbproject/private/
/avrenv-client/avrenv
/avrenv-client/avrenv-tests
/avrenv-client/testcases.c
