name: make-and-test

on:
  workflow_dispatch:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build:
    runs-on: self-hosted
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Build avrenv-tx
      run: cd $GITHUB_WORKSPACE/avrenv-tx && make clean && make
      
    - name: Build avrenv-rx
      run: cd $GITHUB_WORKSPACE/avrenv-rx && make clean && make
      
    - name: Build avrenv-client
      run: cd $GITHUB_WORKSPACE/avrenv-client && make clean && make
      
    - name: Build avrenv-web
      run: cd $GITHUB_WORKSPACE/avrenv-web && ./mvnw clean package
