name: make-and-test

on:
  workflow_dispatch:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  make:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v6
      with:
        path: avrenv

    - name: Make avrenv-tx
      run: cd avrenv/avrenv-tx && make clean && make

    - name: Make avrenv-rx
      run: cd avrenv/avrenv-rx && make clean && make

    - name: Make avrenv-client
      run: cd avrenv/avrenv-client && make clean && make

    - name: Build avrenv-web
      run: cd avrenv/avrenv-web && ./mvnw clean package -DskipTests

  test:
    runs-on: self-hosted
    needs: make

    steps:
    # - name: Test avrenv-client
    #   run: cd avrenv/avrenv-client && make test

    - name: Test avrenv-web
      run: cd avrenv/avrenv-web && ./mvnw test
